.header {
    color: #333;
    margin-bottom: 25px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header h1 {
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: bold;
    display: flex;

}