.card {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.5);
}

.card__front {
    backface-visibility: hidden;
    transition: transform 0.5s;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.card__front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}